*{
    font-family: Arial, Helvetica, sans-serif
    font-size; 16px;
}

body {background-color: rgb(118, 82, 151);

}

main {
    background-color: thistle;
    width: 500px;
    margin:auto
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}